{% extends "base.html" %}

{% block page_content %}
    <h2 style="text-align:center;">
        Sveiki! Es esmu Evelīna. 
    </h2>
        <p style="text-align:justify;" > 
            Šobrīd mācos RTU Inženierzinātņu vidusskolā, esmu absolvējusi Māras Muižnieces Rīgas Mākslas skolu un Rīgas Valsts 1. ģimnāziju. Mani aizrauj zinātne, īpaši ķīmija un matemātika, es šos priekšmetus mācos arī papildu skolas programmai, lai labāk startētu olimpiādēs un citos konkursos. Šajā vasarā sāku strādāt pie Zinātniski pētnieciskā darba ķīmijas nozarē, vēljoprojām katru nedēļu eju uz laboratoriju, lai to turpinātu pilnveidot.  Bez mācībām es dziedu skolas korī un spēlēju teātrī, man patīk radoši izpausties un tādā veidā atbrīvoties no ikdienas stresa. Šī iemesla dēļ es arī skrienu. Es mīlu ceļot, iet kalnos, pārgājienos un iepazīt jaunas vietas. :)</p>
        </p> 
    
    <img src="https://i.imgur.com/xEWvVle.jpeg" alt="bilde ar Evelīnu" style="text-align:center; height:400px; margin-right: 10px;">
    <img src="https://i.imgur.com/jxQ6rti.jpeg" alt="bilde ar Evelīnu" style="float:left; height:400px; margin-right: 10px;">
    <!-- <img src="https://i.imgur.com/xMdKpPW.jpeg" alt="bilde ar Evelīnu" style="float:left; height:400px; margin-right: 10px;"> -->
    <img src="https://i.imgur.com/gQTdVJ4.jpeg" alt="bilde ar Evelīnu" style="float:left; height:400px; margin-right: 10px;">


    
    
{% endblock page_content %}