{% extends "base.html" %}

{% block page_content %}
    <h1>This is Evelīnas Tilleres homepage</h1>
    <p> Sveiki! Es esmu Evelīna. Šobrīd macos RTU Inženierzinātņu vidusskolā, esmu absolvējusi Māras Muižnieces Rīgas Mākslas skolu un Rīgas Valsts 1. ģimnāziju. Mani aizrauj zinātne, īpaši ķīmija un matemātika, es šos priekšmetus mācos arī papildu skolas programmai, lai labāk startētu olimpiādēs un citos konkursos. Šajā vasarā sāku strādāt pie Zinātniski pētnieciskā darba ķīmijas nozarē, vēljoprojām katru nedēļu eju uz laboratoriju, lai to turpinātu pilnveidot.  Bez mācībām es dziedu skolas korī un spēlēju teātrī, man patīk radoši izpausties un tādā veidā atbrīvoties no ikdienas stresa. Šī iemesla dēļ es arī skrienu. :)</p>
    </p>
    <p>
        hiiiiiiii
    </p>
{% endblock page_content %}